<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-procedure-heading">Create or edit a Procedure</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_consentResponse">Consent Response</label>
                    <select class="form-control" id="field_consentResponse" name="consentResponse" formControlName="consentResponseId">
                        <option *ngIf="!editForm.get('consentResponseId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="answerResponseOption.id" *ngFor="let answerResponseOption of consentresponses; trackBy: trackAnswerResponseById">{{answerResponseOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('consentResponseId').invalid && (editForm.get('consentResponseId').dirty || editForm.get('consentResponseId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('consentResponseId').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_riskAssessmentResponse">Risk Assessment Response</label>
                    <select class="form-control" id="field_riskAssessmentResponse" name="riskAssessmentResponse" formControlName="riskAssessmentResponseId">
                        <option *ngIf="!editForm.get('riskAssessmentResponseId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="answerResponseOption.id" *ngFor="let answerResponseOption of riskassessmentresponses; trackBy: trackAnswerResponseById">{{answerResponseOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('riskAssessmentResponseId').invalid && (editForm.get('riskAssessmentResponseId').dirty || editForm.get('riskAssessmentResponseId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('riskAssessmentResponseId').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
