<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="radioQuestionItem">
            <h2><span>Radio Question Item</span> {{radioQuestionItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Uuid</span></dt>
                <dd>
                    <span>{{radioQuestionItem.uuid}}</span>
                </dd>
                <dt><span>Question Uuid</span></dt>
                <dd>
                    <span>{{radioQuestionItem.questionUuid}}</span>
                </dd>
                <dt><span>Label</span></dt>
                <dd>
                    <span>{{radioQuestionItem.label}}</span>
                </dd>
                <dt><span>Descriptor</span></dt>
                <dd>
                    <span>{{radioQuestionItem.descriptor}}</span>
                </dd>
                <dt><span>Radio Question</span></dt>
                <dd>
                    <div *ngIf="radioQuestionItem.radioQuestionId">
                        <a [routerLink]="['/radio-question', radioQuestionItem.radioQuestionId, 'view']">{{radioQuestionItem.radioQuestionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/radio-question-item', radioQuestionItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
