<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answerItem">
            <h2><span>Answer Item</span> {{answerItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Selected</span></dt>
                <dd>
                    <span>{{answerItem.selected}}</span>
                </dd>
                <dt><span>Answer</span></dt>
                <dd>
                    <div *ngIf="answerItem.answerId">
                        <a [routerLink]="['/answer', answerItem.answerId, 'view']">{{answerItem.answerId}}</a>
                    </div>
                </dd>
                <dt><span>Question Item</span></dt>
                <dd>
                    <div *ngIf="answerItem.questionItemId">
                        <a [routerLink]="['/question-item', answerItem.questionItemId, 'view']">{{answerItem.questionItemId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answer-item', answerItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
