<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="repeatDisplayCondition">
            <h2><span>Repeat Display Condition</span> {{repeatDisplayCondition.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Repeat Question</span></dt>
                <dd>
                    <div *ngIf="repeatDisplayCondition.repeatQuestionId">
                        <a [routerLink]="['/repeat-question', repeatDisplayCondition.repeatQuestionId, 'view']">{{repeatDisplayCondition.repeatQuestionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/repeat-display-condition', repeatDisplayCondition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
