<div>
    <h2 id="page-heading">
        <span>Display Conditions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-display-condition" [routerLink]="['/display-condition/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Display Condition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="displayConditions?.length === 0">
        <span>No displayConditions found</span>
    </div>
    <div class="table-responsive" *ngIf="displayConditions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Question Identifier</span></th>
            <th><span>Item Identifier</span></th>
            <th><span>Question Section</span></th>
            <th><span>Question</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let displayCondition of displayConditions ;trackBy: trackId">
                <td><a [routerLink]="['/display-condition', displayCondition.id, 'view' ]">{{displayCondition.id}}</a></td>
                <td>{{displayCondition.questionIdentifier}}</td>
                <td>{{displayCondition.itemIdentifier}}</td>
                <td>
                    <div *ngIf="displayCondition.questionSectionId">
                        <a [routerLink]="['/question-section', displayCondition.questionSectionId , 'view' ]" >{{displayCondition.questionSectionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="displayCondition.questionId">
                        <a [routerLink]="['/question', displayCondition.questionId , 'view' ]" >{{displayCondition.questionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/display-condition', displayCondition.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/display-condition', displayCondition.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/display-condition', { outlets: { popup: displayCondition.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
