<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="displayCondition">
            <h2><span>Display Condition</span> {{displayCondition.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Display Condition Type</span></dt>
                <dd>
                    <span>{{displayCondition.displayConditionType}}</span>
                </dd>
                <dt><span>Condition Section Identifier</span></dt>
                <dd>
                    <span>{{displayCondition.conditionSectionIdentifier}}</span>
                </dd>
                <dt><span>Condition Question Identifier</span></dt>
                <dd>
                    <span>{{displayCondition.conditionQuestionIdentifier}}</span>
                </dd>
                <dt><span>Condition Question Item Identifier</span></dt>
                <dd>
                    <span>{{displayCondition.conditionQuestionItemIdentifier}}</span>
                </dd>
                <dt><span>Display Question Section</span></dt>
                <dd>
                    <div *ngIf="displayCondition.displayQuestionSectionId">
                        <a [routerLink]="['/question-section', displayCondition.displayQuestionSectionId, 'view']">{{displayCondition.displayQuestionSectionId}}</a>
                    </div>
                </dd>
                <dt><span>Display Question</span></dt>
                <dd>
                    <div *ngIf="displayCondition.displayQuestionId">
                        <a [routerLink]="['/question', displayCondition.displayQuestionId, 'view']">{{displayCondition.displayQuestionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/display-condition', displayCondition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
