<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="studyId">
            <h2><span>Study Id</span> {{ studyId.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{ studyId.code }}</span>
                </dd>
                <dt><span>Participant</span></dt>
                <dd>
                    <div *ngIf="studyId.participant">
                        <a [routerLink]="['/participant', studyId.participant?.id, 'view']">{{ studyId.participant?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/study-id', studyId.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
