<div>
    <h2 id="page-heading">
        <span>Study IDs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-study-id" [routerLink]="['/study-id/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create new Study IDs
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="studyIds?.length === 0">
        <span>No Study  IDs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="studyIds?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Code</span></th>
                    <th scope="col" ><span>Is Assigned?</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="studyIdRow" *ngFor="let studyId of studyIds ;trackBy: trackId">
                    <td><a [routerLink]="['/study-id', studyId.id, 'view']">{{ studyId.id }}</a></td>
                    <td>{{ studyId.code }}</td>
                    <td>
                        <div *ngIf="studyId.participant">
                            True
                        </div>
                        <div *ngIf="!studyId.participant">
                            False
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
