<div>
    <h2 id="page-heading">
        <span>Csv Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-csv-file" [routerLink]="['/csv-file/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Csv File
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="csvFiles?.length === 0">
        <span>No csvFiles found</span>
    </div>
    <div class="table-responsive" *ngIf="csvFiles?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>State</span></th>
            <th><span>Status</span></th>
            <th><span>File Name</span></th>
            <th><span>Upload Datetime</span></th>
            <th><span>Content</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let csvFile of csvFiles ;trackBy: trackId">
                <td><a [routerLink]="['/csv-file', csvFile.id, 'view' ]">{{csvFile.id}}</a></td>
                <td>{{csvFile.state}}</td>
                <td>{{csvFile.status}}</td>
                <td>{{csvFile.fileName}}</td>
                <td>{{csvFile.uploadDatetime | date:'medium'}}</td>
                <td>
                    <div *ngIf="csvFile.contentId">
                        <a [routerLink]="['/csv-content', csvFile.contentId , 'view' ]" >{{csvFile.contentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/csv-file', csvFile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/csv-file', csvFile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/csv-file', { outlets: { popup: csvFile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
