<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-questionnaire-heading">Create or edit a Questionnaire</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_identifier">Identifier</label>
                    <select class="form-control" name="identifier" formControlName="identifier" id="field_identifier">
                        <option value="TYRER_CUZICK_IV1">TYRER_CUZICK_IV1</option>
                    </select>
                    <div *ngIf="editForm.get('identifier').invalid && (editForm.get('identifier').dirty || editForm.get('identifier').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('identifier').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_algorithm">Algorithm</label>
                    <select class="form-control" name="algorithm" formControlName="algorithm" id="field_algorithm">
                        <option value="TYRER_CUZICK">TYRER_CUZICK</option>
                    </select>
                    <div *ngIf="editForm.get('algorithm').invalid && (editForm.get('algorithm').dirty || editForm.get('algorithm').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('algorithm').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_algorithmMinimum">Algorithm Minimum</label>
                    <input type="number" class="form-control" name="algorithmMinimum" id="field_algorithmMinimum"
                           formControlName="algorithmMinimum"/>
                    <div *ngIf="editForm.get('algorithmMinimum').invalid && (editForm.get('algorithmMinimum').dirty || editForm.get('algorithmMinimum').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('algorithmMinimum').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('algorithmMinimum')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_algorithmMaximum">Algorithm Maximum</label>
                    <input type="number" class="form-control" name="algorithmMaximum" id="field_algorithmMaximum"
                           formControlName="algorithmMaximum"/>
                    <div *ngIf="editForm.get('algorithmMaximum').invalid && (editForm.get('algorithmMaximum').dirty || editForm.get('algorithmMaximum').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('algorithmMaximum').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('algorithmMaximum')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_implementationVersion">Implementation Version</label>
                    <input type="number" class="form-control" name="implementationVersion" id="field_implementationVersion"
                           formControlName="implementationVersion"/>
                    <div *ngIf="editForm.get('implementationVersion').invalid && (editForm.get('implementationVersion').dirty || editForm.get('implementationVersion').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('implementationVersion').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('implementationVersion')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
