<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="questionnaire">
            <h2><span>Questionnaire</span> {{questionnaire.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Identifier</span></dt>
                <dd>
                    <span>{{questionnaire.identifier}}</span>
                </dd>
                <dt><span>Algorithm</span></dt>
                <dd>
                    <span>{{questionnaire.algorithm}}</span>
                </dd>
                <dt><span>Algorithm Minimum</span></dt>
                <dd>
                    <span>{{questionnaire.algorithmMinimum}}</span>
                </dd>
                <dt><span>Algorithm Maximum</span></dt>
                <dd>
                    <span>{{questionnaire.algorithmMaximum}}</span>
                </dd>
                <dt><span>Implementation Version</span></dt>
                <dd>
                    <span>{{questionnaire.implementationVersion}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/questionnaire', questionnaire.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
