<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="csvContent">
            <h2><span>Csv Content</span> {{csvContent.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Data</span></dt>
                <dd>
                    <div *ngIf="csvContent.data">
                        <a (click)="openFile(csvContent.dataContentType, csvContent.data)">open</a>
                        {{csvContent.dataContentType}}, {{byteSize(csvContent.data)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/csv-content', csvContent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
