<div>
    <h2 id="page-heading">
        <span>Risks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-risk" [routerLink]="['/risk/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Risk
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="risks?.length === 0">
        <span>No risks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="risks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Lifetime Risk</span></th>
                    <th scope="col" ><span>Prob Not Bcra</span></th>
                    <th scope="col" ><span>Prob Bcra 1</span></th>
                    <th scope="col" ><span>Prob Bcra 2</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let risk of risks ;trackBy: trackId">
                    <td><a [routerLink]="['/risk', risk.id, 'view']">{{ risk.id }}</a></td>
                    <td>{{ risk.lifetimeRisk }}</td>
                    <td>{{ risk.probNotBcra }}</td>
                    <td>{{ risk.probBcra1 }}</td>
                    <td>{{ risk.probBcra2 }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/risk', risk.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/risk', risk.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(risk)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
