@import '~bootswatch/dist/materia/variables';

h2 {
  margin-bottom: 20px;
}

.upload {
  margin: 0 0 30px 0;
  padding: 20px;
  background: #eee;
}

.upload input {
  display: block;
  margin: 30px auto;
  font-size: 1.5em;
  width: 80%;
  background: white;
}

.upload button {
  margin: 30px auto 20px auto;
  display: block;
  padding: 10px 20px;
  background: $primary;
  color: $white;
  font-size: 2em;
  border: none;
}

.upload #message {
  text-align: centre;
}

.csvtable {
  width: 100%;
  max-width: 100%;
}

.csvbody {
  border-bottom: 15px solid white;
}

.csvbody td {
  padding: 4px 8px;
}

.csvinfo {
  color: $white;
}

.file-yellow {
  background: #b39700;
}
.file-orange {
  background: #c86e00;
}
.file-red {
  background: #880000;
}
.file-green {
  background: #1e6300;
}

.csvstatus {
  background: #ccc;
}
