<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="questionGroupQuestion">
            <h2><span>Question Group Question</span> {{questionGroupQuestion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Uuid</span></dt>
                <dd>
                    <span>{{questionGroupQuestion.uuid}}</span>
                </dd>
                <dt><span>Order</span></dt>
                <dd>
                    <span>{{questionGroupQuestion.order}}</span>
                </dd>
                <dt><span>Question Group</span></dt>
                <dd>
                    <div *ngIf="questionGroupQuestion.questionGroupId">
                        <a [routerLink]="['/question-group', questionGroupQuestion.questionGroupId, 'view']">{{questionGroupQuestion.questionGroupId}}</a>
                    </div>
                </dd>
                <dt><span>Question</span></dt>
                <dd>
                    <div *ngIf="questionGroupQuestion.questionId">
                        <a [routerLink]="['/question', questionGroupQuestion.questionId, 'view']">{{questionGroupQuestion.questionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question-group-question', questionGroupQuestion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
