<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="questionItem">
            <h2><span>Question Item</span> {{questionItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Identifier</span></dt>
                <dd>
                    <span>{{questionItem.identifier}}</span>
                </dd>
                <dt><span>Order</span></dt>
                <dd>
                    <span>{{questionItem.order}}</span>
                </dd>
                <dt><span>Label</span></dt>
                <dd>
                    <span>{{questionItem.label}}</span>
                </dd>
                <dt><span>Necessary</span></dt>
                <dd>
                    <span>{{questionItem.necessary}}</span>
                </dd>
                <dt><span>Exclusive</span></dt>
                <dd>
                    <span>{{questionItem.exclusive}}</span>
                </dd>
                <dt><span>Question</span></dt>
                <dd>
                    <div *ngIf="questionItem.questionId">
                        <a [routerLink]="['/question', questionItem.questionId, 'view']">{{questionItem.questionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question-item', questionItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
