<div>
    <h2 id="page-heading">
        <span>Question Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-question-item" [routerLink]="['/question-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Question Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="questionItems?.length === 0">
        <span>No questionItems found</span>
    </div>
    <div class="table-responsive" *ngIf="questionItems?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Identifier</span></th>
            <th><span>Order</span></th>
            <th><span>Label</span></th>
            <th><span>Necessary</span></th>
            <th><span>Exclusive</span></th>
            <th><span>Question</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let questionItem of questionItems ;trackBy: trackId">
                <td><a [routerLink]="['/question-item', questionItem.id, 'view' ]">{{questionItem.id}}</a></td>
                <td>{{questionItem.identifier}}</td>
                <td>{{questionItem.order}}</td>
                <td>{{questionItem.label}}</td>
                <td>{{questionItem.necessary}}</td>
                <td>{{questionItem.exclusive}}</td>
                <td>
                    <div *ngIf="questionItem.questionId">
                        <a [routerLink]="['/question', questionItem.questionId , 'view' ]" >{{questionItem.questionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/question-item', questionItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/question-item', questionItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/question-item', { outlets: { popup: questionItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
