<div *ngIf="questionnaires">

    <div class="questionnaire" *ngFor="let questionnaire of questionnaires">
        <h1 class="bg-primary">{{questionnaire.type}} Version {{questionnaire.version}}</h1>

        <div *ngFor="let section of questionnaire.questionSections">

            <h2>{{section.identifier}}</h2>

            <div class="box">
                <div class="displayCondition" *ngFor="let displayCondition of section.displayConditions">
                    <div *ngIf="displayCondition.questionIdentifier">
                            Display if not zero: <strong>{{displayCondition.questionIdentifier}}</strong>
                    </div>
                    <div *ngIf="displayCondition.itemIdentifier">
                        Display if selected: <strong>{{displayCondition.itemIdentifier}}</strong>
                    </div>
                </div>

                <h3>{{section.questionGroup.identifier}}</h3>

                <div class="box" *ngFor="let question of section.questionGroup.questions">

                    <div class="displayCondition" *ngFor="let displayCondition of question.displayConditions">
                        <div *ngIf="displayCondition.questionIdentifier">
                                Display if not zero: <strong>{{displayCondition.questionIdentifier}}</strong>
                        </div>
                        <div *ngIf="displayCondition.itemIdentifier">
                            Display if selected: <strong>{{displayCondition.itemIdentifier}}</strong>
                        </div>
                    </div>

                    <table>
                        <tr>
                            <td><strong>Type</strong></td>
                            <td>{{question.type}}</td>
                        </tr>
                        <tr>
                            <td><strong>Minimum</strong></td>
                            <td>{{question.minimum}}</td>
                        </tr>
                        <tr>
                            <td><strong>Maximum</strong></td>
                            <td>{{question.maximum}}</td>
                        </tr>
                        <tr>
                            <td><strong>Variable</strong></td>
                            <td>{{question.variableName}}</td>
                        </tr>
                    </table>
                    
                    <h4>{{question.identifier}}</h4>
                    <p>{{question.text}}</p>
                    <details *ngIf="question.hint">
                        <summary>{{question.hint}}</summary>
                        <p>{{question.hintText}}</p>
                    </details>

                    <ul>
                        <li *ngFor="let item of question.questionItems">
                            <strong>{{item.identifier}}</strong>
                            - 
                            {{item.label}}
                            <strong *ngIf="item.necessary">(necessary)</strong>
                            <strong *ngIf="item.exclusive">(exclusive)</strong>
                        </li>
                    </ul>
                    <div style="clear:both"></div>
                </div>
            </div>

            <div class="referral" *ngFor="let referral of section.referralConditions">
                <div class="andGroup">AND {{referral.andGroup}}</div>
                Refer if
                <strong>{{referral.type}}</strong>
                (
                <strong>{{referral.questionIdentifier}}</strong>
                <strong>{{referral.itemIdentifier}}</strong>
                <strong *ngIf="referral.number">, {{referral.number}}</strong>
                ) 
                <em *ngIf="referral.reason"> &mdash; {{referral.reason}}</em>
            </div>
        </div>
    </div>
</div>
