<div>
    <h2 id="page-heading">
        <span>Questionnaire Question Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-questionnaire-question-group" [routerLink]="['/questionnaire-question-group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Questionnaire Question Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="questionnaireQuestionGroups?.length === 0">
        <span>No questionnaireQuestionGroups found</span>
    </div>
    <div class="table-responsive" *ngIf="questionnaireQuestionGroups?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uuid"><span>Uuid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="questionnaireUuid"><span>Questionnaire Uuid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="questionGroupUuid"><span>Question Group Uuid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="order"><span>Order</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="questionnaireId"><span>Questionnaire</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="questionGroupId"><span>Question Group</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let questionnaireQuestionGroup of questionnaireQuestionGroups ;trackBy: trackId">
                <td><a [routerLink]="['/questionnaire-question-group', questionnaireQuestionGroup.id, 'view' ]">{{questionnaireQuestionGroup.id}}</a></td>
                <td>{{questionnaireQuestionGroup.uuid}}</td>
                <td>{{questionnaireQuestionGroup.questionnaireUuid}}</td>
                <td>{{questionnaireQuestionGroup.questionGroupUuid}}</td>
                <td>{{questionnaireQuestionGroup.order}}</td>
                <td>
                    <div *ngIf="questionnaireQuestionGroup.questionnaireId">
                        <a [routerLink]="['/questionnaire', questionnaireQuestionGroup.questionnaireId , 'view' ]" >{{questionnaireQuestionGroup.questionnaireId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="questionnaireQuestionGroup.questionGroupId">
                        <a [routerLink]="['/question-group', questionnaireQuestionGroup.questionGroupId , 'view' ]" >{{questionnaireQuestionGroup.questionGroupId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/questionnaire-question-group', questionnaireQuestionGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/questionnaire-question-group', questionnaireQuestionGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/questionnaire-question-group', { outlets: { popup: questionnaireQuestionGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="questionnaireQuestionGroups?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
