<div *ngIf="participants">
    <h1>Participants</h1>

    <form name="searchForm" class="col-md-12 input-group form-inline" role="form" novalidate (ngSubmit)="loadParticipants()" [formGroup]="searchForm">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-row col-sm-2">
                <label class="col-sm-3 col-form-label">StudyID</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="studyId" id ="studyIdInput" formControlName="studyId">
                </div>
            </div>

            <div class="form-row col-sm-3">
                <label class="col-sm-4 col-form-label">Date of Birth</label>
                <div class="col-sm-7">
                    <input type="date" class="form-control" name="dateOfBirth"  id="dateOfBirthInput" formControlName="dateOfBirth"/>
                </div>
            </div>

            <div class="form-row col-sm-3">
                <label class="col-form-label">Status</label>
                    <select class="col-sm-7" name="status" style="margin-bottom:10px" id="statusSelector" formControlName="status">
                        <option selected value="null">ALL</option>
                        <option>REFERRED</option>
                        <option>SUBMITTED</option>
                    </select>
            </div>
        <div>
            <button type="button" class="btn btn-secondary" id ="clearButton" (click)="clear()">
                Clear
            </button>
            <button type="submit" class="btn btn-primary" id = "searchButton">
                Search
            </button>
        </div>
    </form>

    <div class="table-responsive" *ngIf="participants">
        <table class="table table-striped">
            <thead>
            <tr jhiSort>
                <th jhiSortBy="id"><span>StudyID</span> </th>
                <th jhiSortBy="login"><span>Date Of Birth</span> </th>
                <th jhiSortBy="status"><span>Status</span> </th>
                <th jhiSortBy="swab"><span>Swab</span> </th>
                <th jhiSortBy="mammogram"><span>Mammogram</span></th>
                <th jhiSortBy="registeredDate"><span>Register Date</span> </th>
                <th jhiSortBy="canRiskReport"><span>Can Risk Report</span></th>
            </tr>
            </thead>
            <tbody *ngIf ="participants">
            <tr *ngFor="let participant of participants;">
                <td>{{participant.studyID}}</td>
                <td>{{participant.dateOfBirth | date: 'd MMM y'}}</td>
                <td>{{participant.status}}</td>
                <td>{{participant.swab | defaultValue: '-'}}</td>
                <td>{{participant.mammogram | defaultValue: '-'}}</td>
                <td>{{ participant.registerDatetime | date: 'd MMM y' | defaultValue: '-' }}</td>
                <td ><a *ngIf="participant.canRiskReportId" href="javascript:void(0);" (click)="viewCanRiskReport(participant.canRiskReportId)">[view]</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div [hidden]="participants?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

</div>
