<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="identifiableData">
            <h2><span>Identifiable Data</span> {{identifiableData.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nhs Number</span></dt>
                <dd>
                    <span>{{identifiableData.nhsNumber}}</span>
                </dd>
                <dt><span>Date Of Birth</span></dt>
                <dd>
                    <span>{{identifiableData.dateOfBirth}}</span>
                </dd>
                <dt><span>Firstname</span></dt>
                <dd>
                    <span>{{identifiableData.firstname}}</span>
                </dd>
                <dt><span>Surname</span></dt>
                <dd>
                    <span>{{identifiableData.surname}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{identifiableData.email}}</span>
                </dd>
                <dt><span>Address 1</span></dt>
                <dd>
                    <span>{{identifiableData.address1}}</span>
                </dd>
                <dt><span>Address 2</span></dt>
                <dd>
                    <span>{{identifiableData.address2}}</span>
                </dd>
                <dt><span>Address 3</span></dt>
                <dd>
                    <span>{{identifiableData.address3}}</span>
                </dd>
                <dt><span>Address 4</span></dt>
                <dd>
                    <span>{{identifiableData.address4}}</span>
                </dd>
                <dt><span>Address 5</span></dt>
                <dd>
                    <span>{{identifiableData.address5}}</span>
                </dd>
                <dt><span>Postcode</span></dt>
                <dd>
                    <span>{{identifiableData.postcode}}</span>
                </dd>
                <dt><span>Practice Name</span></dt>
                <dd>
                    <span>{{identifiableData.practiceName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/identifiable-data', identifiableData.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
