<div>
    <h2 id="page-heading">
        <span>Identifiable Data</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-identifiable-data" [routerLink]="['/identifiable-data/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Identifiable Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="identifiableData?.length === 0">
        <span>No identifiableData found</span>
    </div>
    <div class="table-responsive" *ngIf="identifiableData?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nhs Number</span></th>
            <th><span>Date Of Birth</span></th>
            <th><span>Email</span></th>
            <th><span>Address 1</span></th>
            <th><span>Address 2</span></th>
            <th><span>Address 3</span></th>
            <th><span>Address 4</span></th>
            <th><span>Address 5</span></th>
            <th><span>Postcode</span></th>
            <th><span>Practice Name</span></th>
            <th><span>Participant</span></th>
            <th><span>Csv File</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let identifiableData of identifiableData ;trackBy: trackId">
                <td><a [routerLink]="['/identifiable-data', identifiableData.id, 'view' ]">{{identifiableData.id}}</a></td>
                <td>{{identifiableData.nhsNumber}}</td>
                <td>{{identifiableData.dateOfBirth | date:'mediumDate'}}</td>
                <td>{{identifiableData.email}}</td>
                <td>{{identifiableData.address1}}</td>
                <td>{{identifiableData.address2}}</td>
                <td>{{identifiableData.address3}}</td>
                <td>{{identifiableData.address4}}</td>
                <td>{{identifiableData.address5}}</td>
                <td>{{identifiableData.postcode}}</td>
                <td>{{identifiableData.practiceName}}</td>
                <td>
                    <div *ngIf="identifiableData.participantId">
                        <a [routerLink]="['/participant', identifiableData.participantId , 'view' ]" >{{identifiableData.participantId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="identifiableData.csvFileId">
                        <a [routerLink]="['/csv-file', identifiableData.csvFileId , 'view' ]" >{{identifiableData.csvFileFileName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/identifiable-data', identifiableData.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/identifiable-data', identifiableData.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/identifiable-data', { outlets: { popup: identifiableData.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
