<div class="modal-header">
    <h4 class="modal-title">Sign in</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError">
                <strong>Failed to sign in!</strong> {{authenticationErrorMessage}}
            </div>
        </div>
        <div class="col-md-8">
            <form class="form" role="form" [formGroup]="loginForm" >
                <div class="form-group">
                    <label class="username-label" for="username">Login</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Your username"
                           formControlName="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Your password"
                           formControlName="password">
                </div>

                <div class="form-group" *ngIf="twoFactorAuthentication">
                    <div *ngIf="showFailedPinValidationAlert">
                        <div class="alert alert-warning text-center" role="alert" id="validate-pin-fail-message"><b> {{failedPinValidationAttempts}} failed pin validation attempt(s)! <br>Login for user will be locked after 5 failed attempts</b></div>
                    </div>
                    <label class="form-control-label">Pin</label>
                    <input class="form-control" type="text" name="pin" id="pin" formControlName="pin" placeholder="Enter the Pin sent to your register email">
                </div>
                <button type="submit" class="btn btn-primary" (click)="login()" id="sign-in-button" *ngIf="!twoFactorAuthentication">Sign in</button>
                <button type="submit" class="btn btn-primary" (click)="validatePin()" id="confirm-pin-button" *ngIf="twoFactorAuthentication">Sign in</button>
                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe">
                        <span>Remember me</span>
                    </label>
                </div>
            </form>

            <div class="alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()">Did you forget your password?</a>
            </div>
            <p></p>
        </div>
    </div>
</div>
