<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="question">
            <h2><span>Question</span> {{question.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Identifier</span></dt>
                <dd>
                    <span>{{question.identifier}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{question.type}}</span>
                </dd>
                <dt><span>Order</span></dt>
                <dd>
                    <span>{{question.order}}</span>
                </dd>
                <dt><span>Text</span></dt>
                <dd>
                    <span>{{question.text}}</span>
                </dd>
                <dt><span>Minimum</span></dt>
                <dd>
                    <span>{{question.minimum}}</span>
                </dd>
                <dt><span>Maximum</span></dt>
                <dd>
                    <span>{{question.maximum}}</span>
                </dd>
                <dt><span>Question Group</span></dt>
                <dd>
                    <div *ngIf="question.questionGroupId">
                        <a [routerLink]="['/question-group', question.questionGroupId, 'view']">{{question.questionGroupId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question', question.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
