<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="numberCheckboxQuestion">
            <h2><span>Number Checkbox Question</span> {{numberCheckboxQuestion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Minimum</span></dt>
                <dd>
                    <span>{{numberCheckboxQuestion.minimum}}</span>
                </dd>
                <dt><span>Maximum</span></dt>
                <dd>
                    <span>{{numberCheckboxQuestion.maximum}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/number-checkbox-question', numberCheckboxQuestion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
