<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-answer-response-heading">Create or edit a Answer Response</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_state">State</label>
                    <select class="form-control" name="state" formControlName="state" id="field_state">
                        <option value="NOT_STARTED">NOT_STARTED</option>
                        <option value="IN_PROGRESS">IN_PROGRESS</option>
                        <option value="SUBMITTED">SUBMITTED</option>
                        <option value="INVALID">INVALID</option>
                        <option value="VALIDATED">VALIDATED</option>
                        <option value="FAILED">FAILED</option>
                        <option value="PROCESSED">PROCESSED</option>
                    </select>
                    <div *ngIf="editForm.get('state').invalid && (editForm.get('state').dirty || editForm.get('state').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('state').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_questionnaire">Questionnaire</label>
                    <select class="form-control" id="field_questionnaire" name="questionnaire" formControlName="questionnaireId">
                        <option *ngIf="!editForm.get('questionnaireId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="questionnaireOption.id" *ngFor="let questionnaireOption of questionnaires; trackBy: trackQuestionnaireById">{{questionnaireOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('questionnaireId').invalid && (editForm.get('questionnaireId').dirty || editForm.get('questionnaireId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('questionnaireId').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
