<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answerSection">
            <h2><span>Answer Section</span> {{answerSection.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Answer Response</span></dt>
                <dd>
                    <div *ngIf="answerSection.answerResponseId">
                        <a [routerLink]="['/answer-response', answerSection.answerResponseId, 'view']">{{answerSection.answerResponseId}}</a>
                    </div>
                </dd>
                <dt><span>Question Section</span></dt>
                <dd>
                    <div *ngIf="answerSection.questionSectionId">
                        <a [routerLink]="['/question-section', answerSection.questionSectionId, 'view']">{{answerSection.questionSectionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answer-section', answerSection.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
