<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="checkboxDisplayCondition">
            <h2><span>Checkbox Display Condition</span> {{checkboxDisplayCondition.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Checkbox Question Item</span></dt>
                <dd>
                    <div *ngIf="checkboxDisplayCondition.checkboxQuestionItemId">
                        <a [routerLink]="['/checkbox-question-item', checkboxDisplayCondition.checkboxQuestionItemId, 'view']">{{checkboxDisplayCondition.checkboxQuestionItemId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/checkbox-display-condition', checkboxDisplayCondition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
