<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="participant">
            <h2><span>Participant</span> {{participant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Register Datetime</span></dt>
                <dd>
                    <span>{{participant.registerDatetime}}</span>
                </dd>
                <dt><span>Last Login Datetime</span></dt>
                <dd>
                    <span>{{participant.lastLoginDatetime}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{participant.userLogin}}
                </dd>
                <dt><span>Identifiable Data</span></dt>
                <dd>
                    <div *ngIf="participant.identifiableDataId">
                        <a [routerLink]="['/identifiable-data', participant.identifiableDataId, 'view']">{{participant.identifiableDataId}}</a>
                    </div>
                </dd>
                <dt><span>Procedure</span></dt>
                <dd>
                    <div *ngIf="participant.procedureId">
                        <a [routerLink]="['/procedure', participant.procedureId, 'view']">{{participant.procedureId}}</a>
                    </div>
                </dd>
                <dt><span>Csv File</span></dt>
                <dd>
                    <div *ngIf="participant.csvFileId">
                        <a [routerLink]="['/csv-file', participant.csvFileId, 'view']">{{participant.csvFileFileName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/participant', participant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
