<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-participant-heading">Create or edit a Participant</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_registerDatetime">Register Datetime</label>
                    <div class="d-flex">
                        <input id="field_registerDatetime" type="datetime-local" class="form-control" name="registerDatetime" formControlName="registerDatetime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastLoginDatetime">Last Login Datetime</label>
                    <div class="d-flex">
                        <input id="field_lastLoginDatetime" type="datetime-local" class="form-control" name="lastLoginDatetime" formControlName="lastLoginDatetime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option *ngIf="!editForm.get('userId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('userId').invalid && (editForm.get('userId').dirty || editForm.get('userId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('userId').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_identifiableData">Identifiable Data</label>
                    <select class="form-control" id="field_identifiableData" name="identifiableData" formControlName="identifiableDataId">
                        <option *ngIf="!editForm.get('identifiableDataId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="identifiableDataOption.id" *ngFor="let identifiableDataOption of identifiabledata; trackBy: trackIdentifiableDataById">{{identifiableDataOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('identifiableDataId').invalid && (editForm.get('identifiableDataId').dirty || editForm.get('identifiableDataId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('identifiableDataId').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_procedure">Procedure</label>
                    <select class="form-control" id="field_procedure" name="procedure" formControlName="procedureId">
                        <option *ngIf="!editForm.get('procedureId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="procedureOption.id" *ngFor="let procedureOption of procedures; trackBy: trackProcedureById">{{procedureOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('procedureId').invalid && (editForm.get('procedureId').dirty || editForm.get('procedureId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('procedureId').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_csvFile">Csv File</label>
                    <select class="form-control" id="field_csvFile" name="csvFile" formControlName="csvFileId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="csvFileOption.id" *ngFor="let csvFileOption of csvfiles; trackBy: trackCsvFileById">{{csvFileOption.fileName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
