<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="participant">
            <h2><span>Participant</span> {{participant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Register Datetime</span></dt>
                <dd>
                    <span>{{participant.registerDatetime}}</span>
                </dd>
                <dt><span>Last Login Datetime</span></dt>
                <dd>
                    <span>{{participant.lastLoginDatetime}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{participant.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/participant', participant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
