<div>
    <h2 id="page-heading">
        <span>Answer Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-answer-group" [routerLink]="['/answer-group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Answer Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="answerGroups?.length === 0">
        <span>No answerGroups found</span>
    </div>
    <div class="table-responsive" *ngIf="answerGroups?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Order</span></th>
            <th><span>Answer Section</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let answerGroup of answerGroups ;trackBy: trackId">
                <td><a [routerLink]="['/answer-group', answerGroup.id, 'view' ]">{{answerGroup.id}}</a></td>
                <td>{{answerGroup.order}}</td>
                <td>
                    <div *ngIf="answerGroup.answerSectionId">
                        <a [routerLink]="['/answer-section', answerGroup.answerSectionId , 'view' ]" >{{answerGroup.answerSectionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/answer-group', answerGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/answer-group', answerGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/answer-group', { outlets: { popup: answerGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
