<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-referral-condition-heading">Create or edit a Referral Condition</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_andGroup">And Group</label>
                    <input type="number" class="form-control" name="andGroup" id="field_andGroup"
                           formControlName="andGroup"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="ITEMS_AT_LEAST">ITEMS_AT_LEAST</option>
                        <option value="ITEM_SPECIFIC">ITEM_SPECIFIC</option>
                        <option value="VALUE_UNDER">VALUE_UNDER</option>
                    </select>
                    <div *ngIf="editForm.get('type').invalid && (editForm.get('type').dirty || editForm.get('type').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_questionIdentifier">Question Identifier</label>
                    <select class="form-control" name="questionIdentifier" formControlName="questionIdentifier" id="field_questionIdentifier">
                        <option value="CONSENT_INFO_SHEET">CONSENT_INFO_SHEET</option>
                        <option value="CONSENT_WITHDRAWAL">CONSENT_WITHDRAWAL</option>
                        <option value="CONSENT_DATA_TRUST">CONSENT_DATA_TRUST</option>
                        <option value="CONSENT_DATA_RESEARCH">CONSENT_DATA_RESEARCH</option>
                        <option value="CONSENT_DATA_UOM">CONSENT_DATA_UOM</option>
                        <option value="CONSENT_DATA_COMMERCIAL">CONSENT_DATA_COMMERCIAL</option>
                        <option value="CONSENT_INFORM_GP">CONSENT_INFORM_GP</option>
                        <option value="CONSENT_TAKE_PART">CONSENT_TAKE_PART</option>
                        <option value="CONSENT_BY_LETTER">CONSENT_BY_LETTER</option>
                        <option value="CONSENT_INFO_SHEET_2">CONSENT_INFO_SHEET_2</option>
                        <option value="CONSENT_FUTURE_RESEARCH">CONSENT_FUTURE_RESEARCH</option>
                        <option value="FAMILY_BREAST_AFFECTED">FAMILY_BREAST_AFFECTED</option>
                        <option value="FAMILY_BREAST_HOW_MANY">FAMILY_BREAST_HOW_MANY</option>
                        <option value="FAMILY_BREAST_AGE">FAMILY_BREAST_AGE</option>
                        <option value="FAMILY_OVARIAN_AFFECTED">FAMILY_OVARIAN_AFFECTED</option>
                        <option value="FAMILY_OVARIAN_HOW_MANY">FAMILY_OVARIAN_HOW_MANY</option>
                        <option value="FAMILY_OVARIAN_AGE">FAMILY_OVARIAN_AGE</option>
                        <option value="FAMILY_AFFECTED_GRANDMOTHER_SIDE">FAMILY_AFFECTED_GRANDMOTHER_SIDE</option>
                        <option value="FAMILY_AFFECTED_GRANDMOTHER_MOTHERS_AGE">FAMILY_AFFECTED_GRANDMOTHER_MOTHERS_AGE</option>
                        <option value="FAMILY_AFFECTED_AUNT_SIDE">FAMILY_AFFECTED_AUNT_SIDE</option>
                        <option value="FAMILY_AFFECTED_AUNT_MOTHERS_AGE">FAMILY_AFFECTED_AUNT_MOTHERS_AGE</option>
                        <option value="FAMILY_AFFECTED_NIECE_SIDE">FAMILY_AFFECTED_NIECE_SIDE</option>
                        <option value="FAMILY_AFFECTED_NIECE_SISTERS_AGE">FAMILY_AFFECTED_NIECE_SISTERS_AGE</option>
                        <option value="FAMILY_AFFECTED_HALFSISTER_SIDE">FAMILY_AFFECTED_HALFSISTER_SIDE</option>
                        <option value="FAMILY_AFFECTED_HALFSISTER_MOTHERS_AGE">FAMILY_AFFECTED_HALFSISTER_MOTHERS_AGE</option>
                        <option value="SELF_FIRST_PERIOD">SELF_FIRST_PERIOD</option>
                        <option value="SELF_PREMENOPAUSAL">SELF_PREMENOPAUSAL</option>
                        <option value="SELF_MENOPAUSAL_AGE">SELF_MENOPAUSAL_AGE</option>
                        <option value="SELF_PREGNANCIES">SELF_PREGNANCIES</option>
                        <option value="SELF_PREGNANCY_FIRST_AGE">SELF_PREGNANCY_FIRST_AGE</option>
                        <option value="SELF_HEIGHT">SELF_HEIGHT</option>
                        <option value="SELF_WEIGHT">SELF_WEIGHT</option>
                        <option value="SELF_BREAST_BIOPSY">SELF_BREAST_BIOPSY</option>
                        <option value="SELF_BREAST_BIOPSY_DIAGNOSIS_RISK">SELF_BREAST_BIOPSY_DIAGNOSIS_RISK</option>
                        <option value="SELF_BREAST_BIOPSY_DIAGNOSIS_TYPES">SELF_BREAST_BIOPSY_DIAGNOSIS_TYPES</option>
                        <option value="SELF_ASHKENAZI">SELF_ASHKENAZI</option>
                        <option value="FATHER_BREAST_CANCER">FATHER_BREAST_CANCER</option>
                        <option value="BROTHER_BREAST_CANCER">BROTHER_BREAST_CANCER</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_itemIdentifier">Item Identifier</label>
                    <select class="form-control" name="itemIdentifier" formControlName="itemIdentifier" id="field_itemIdentifier">
                        <option value="CONSENT_INFO_SHEET_2_YES">CONSENT_INFO_SHEET_2_YES</option>
                        <option value="CONSENT_INFO_SHEET_2_NO">CONSENT_INFO_SHEET_2_NO</option>
                        <option value="CONSENT_FUTURE_RESEARCH_YES">CONSENT_FUTURE_RESEARCH_YES</option>
                        <option value="CONSENT_FUTURE_RESEARCH_NO">CONSENT_FUTURE_RESEARCH_NO</option>
                        <option value="FAMILY_BREAST_AFFECTED_MOTHER">FAMILY_BREAST_AFFECTED_MOTHER</option>
                        <option value="FAMILY_BREAST_AFFECTED_GRANDMOTHER">FAMILY_BREAST_AFFECTED_GRANDMOTHER</option>
                        <option value="FAMILY_BREAST_AFFECTED_SISTER">FAMILY_BREAST_AFFECTED_SISTER</option>
                        <option value="FAMILY_BREAST_AFFECTED_HALFSISTER">FAMILY_BREAST_AFFECTED_HALFSISTER</option>
                        <option value="FAMILY_BREAST_AFFECTED_AUNT">FAMILY_BREAST_AFFECTED_AUNT</option>
                        <option value="FAMILY_BREAST_AFFECTED_NIECE">FAMILY_BREAST_AFFECTED_NIECE</option>
                        <option value="FAMILY_BREAST_AFFECTED_NONE">FAMILY_BREAST_AFFECTED_NONE</option>
                        <option value="FAMILY_BREAST_HOW_MANY_ONE">FAMILY_BREAST_HOW_MANY_ONE</option>
                        <option value="FAMILY_BREAST_HOW_MANY_MORE">FAMILY_BREAST_HOW_MANY_MORE</option>
                        <option value="FAMILY_OVARIAN_AFFECTED_MOTHER">FAMILY_OVARIAN_AFFECTED_MOTHER</option>
                        <option value="FAMILY_OVARIAN_AFFECTED_GRANDMOTHER">FAMILY_OVARIAN_AFFECTED_GRANDMOTHER</option>
                        <option value="FAMILY_OVARIAN_AFFECTED_SISTER">FAMILY_OVARIAN_AFFECTED_SISTER</option>
                        <option value="FAMILY_OVARIAN_AFFECTED_HALFSISTER">FAMILY_OVARIAN_AFFECTED_HALFSISTER</option>
                        <option value="FAMILY_OVARIAN_AFFECTED_AUNT">FAMILY_OVARIAN_AFFECTED_AUNT</option>
                        <option value="FAMILY_OVARIAN_AFFECTED_NIECE">FAMILY_OVARIAN_AFFECTED_NIECE</option>
                        <option value="FAMILY_OVARIAN_AFFECTED_NONE">FAMILY_OVARIAN_AFFECTED_NONE</option>
                        <option value="FAMILY_OVARIAN_HOW_MANY_ONE">FAMILY_OVARIAN_HOW_MANY_ONE</option>
                        <option value="FAMILY_OVARIAN_HOW_MANY_MORE">FAMILY_OVARIAN_HOW_MANY_MORE</option>
                        <option value="FAMILY_AFFECTED_GRANDMOTHER_SIDE_MOTHER">FAMILY_AFFECTED_GRANDMOTHER_SIDE_MOTHER</option>
                        <option value="FAMILY_AFFECTED_GRANDMOTHER_SIDE_FATHER">FAMILY_AFFECTED_GRANDMOTHER_SIDE_FATHER</option>
                        <option value="FAMILY_AFFECTED_AUNT_SIDE_MOTHER">FAMILY_AFFECTED_AUNT_SIDE_MOTHER</option>
                        <option value="FAMILY_AFFECTED_AUNT_SIDE_FATHER">FAMILY_AFFECTED_AUNT_SIDE_FATHER</option>
                        <option value="FAMILY_AFFECTED_NIECE_SIDE_SISTER">FAMILY_AFFECTED_NIECE_SIDE_SISTER</option>
                        <option value="FAMILY_AFFECTED_NIECE_SIDE_BROTHER">FAMILY_AFFECTED_NIECE_SIDE_BROTHER</option>
                        <option value="FAMILY_AFFECTED_HALFSISTER_SIDE_MOTHER">FAMILY_AFFECTED_HALFSISTER_SIDE_MOTHER</option>
                        <option value="FAMILY_AFFECTED_HALFSISTER_SIDE_FATHER">FAMILY_AFFECTED_HALFSISTER_SIDE_FATHER</option>
                        <option value="SELF_PREMENOPAUSAL_YES">SELF_PREMENOPAUSAL_YES</option>
                        <option value="SELF_PREMENOPAUSAL_NO">SELF_PREMENOPAUSAL_NO</option>
                        <option value="SELF_PREMENOPAUSAL_UNKNOWN">SELF_PREMENOPAUSAL_UNKNOWN</option>
                        <option value="SELF_BREAST_BIOPSY_YES">SELF_BREAST_BIOPSY_YES</option>
                        <option value="SELF_BREAST_BIOPSY_NO">SELF_BREAST_BIOPSY_NO</option>
                        <option value="SELF_BREAST_BIOPSY_UNKNOWN">SELF_BREAST_BIOPSY_UNKNOWN</option>
                        <option value="SELF_BREAST_BIOPSY_DIAGNOSIS_RISK_YES">SELF_BREAST_BIOPSY_DIAGNOSIS_RISK_YES</option>
                        <option value="SELF_BREAST_BIOPSY_DIAGNOSIS_RISK_NO">SELF_BREAST_BIOPSY_DIAGNOSIS_RISK_NO</option>
                        <option value="SELF_BREAST_BIOPSY_DIAGNOSIS_RISK_UNKNOWN">SELF_BREAST_BIOPSY_DIAGNOSIS_RISK_UNKNOWN</option>
                        <option value="SELF_BREAST_BIOPSY_DIAGNOSIS_TYPES_ADH">SELF_BREAST_BIOPSY_DIAGNOSIS_TYPES_ADH</option>
                        <option value="SELF_BREAST_BIOPSY_DIAGNOSIS_TYPES_LCIS">SELF_BREAST_BIOPSY_DIAGNOSIS_TYPES_LCIS</option>
                        <option value="SELF_BREAST_BIOPSY_DIAGNOSIS_TYPES_ALH">SELF_BREAST_BIOPSY_DIAGNOSIS_TYPES_ALH</option>
                        <option value="SELF_BREAST_BIOPSY_DIAGNOSIS_TYPES_OTHER">SELF_BREAST_BIOPSY_DIAGNOSIS_TYPES_OTHER</option>
                        <option value="SELF_BREAST_BIOPSY_DIAGNOSIS_TYPES_UNKNOWN">SELF_BREAST_BIOPSY_DIAGNOSIS_TYPES_UNKNOWN</option>
                        <option value="SELF_ASHKENAZI_YES">SELF_ASHKENAZI_YES</option>
                        <option value="SELF_ASHKENAZI_NO">SELF_ASHKENAZI_NO</option>
                        <option value="SELF_ASHKENAZI_UNKNOWN">SELF_ASHKENAZI_UNKNOWN</option>
                        <option value="FATHER_BREAST_CANCER_YES">FATHER_BREAST_CANCER_YES</option>
                        <option value="FATHER_BREAST_CANCER_NO">FATHER_BREAST_CANCER_NO</option>
                        <option value="BROTHER_BREAST_CANCER_YES">BROTHER_BREAST_CANCER_YES</option>
                        <option value="BROTHER_BREAST_CANCER_NO">BROTHER_BREAST_CANCER_NO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_number">Number</label>
                    <input type="number" class="form-control" name="number" id="field_number"
                           formControlName="number"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_question">Question</label>
                    <select class="form-control" id="field_question" name="question" formControlName="questionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionOption.id" *ngFor="let questionOption of questions; trackBy: trackQuestionById">{{questionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
