/* Buttons */

.pure-button {
    border-radius: 4px !important;
    margin-right: 0.75em;
}

.pure-button-primary {
    background: rgb(34, 119, 204) !important;
    border: 2px solid rgb(34, 119, 204) !important;
}

.pure-button-secondary {
    background: white !important;
    border: 2px solid rgb(34, 119, 204) !important;
    color: rgb(34, 119, 204) !important;
}

.pure-button:hover {
    background: rgba(34, 119, 204, 0.25) !important;
    color: rgb(34, 119, 204) !important;
}

.pure-button-primary-active, .pure-button-primary:active {
    box-shadow: none !important;
    background: white !important;
    border: 2px solid rgb(34, 119, 204) !important;
    color: rgb(34, 119, 204) !important;
}

.pure-button-secondary-active, .pure-button-secondary:active {
    box-shadow: none !important;
    background: rgb(34, 119, 204) !important;
    color: white !important;
}