/* Components */

/* Introduction */

.introduction {
  border-top: 1px solid rgba(34, 51, 68, 0.15);
  border-bottom: 1px solid rgba(34, 51, 68, 0.15);
  padding: 1.5em 0;
  margin: 0;
}

/* Instructions */

.instructions {
  border-top: 1px solid rgba(34, 51, 68, 0.15);
  border-bottom: 1px solid rgba(34, 51, 68, 0.15);
  padding: 1.5em 0;
  margin: 0;
  font-weight: 700;
}

/* Progress Badges */

.badge {
    display: inline-block;
    min-width: 1.55em;
    padding: 0.3em;
    border-radius: 50%;
    color: #2277CC;
    text-align: center;
    float: right;
    margin-left: 0.5em;
    margin-top: -0.3em;
    -moz-box-shadow: inset 0 0 0 2px #2277CC;
    -webkit-box-shadow: inset 0 0 0 2px #2277CC;
    box-shadow: inset 0 0 0 2px #2277CC;
    opacity: 0.4;
    position: relative;
}

/* Progress Badges: Current */

.current {
    opacity: 1;
}

/* Progress Badges: Complete */

.complete {
    background-color: #22CC77;
    color: white;
    -moz-box-shadow: inset 0 0 0 2px #22CC77;
    -webkit-box-shadow: inset 0 0 0 2px #22CC77;
    box-shadow: inset 0 0 0 2px #22CC77;
    opacity: 1;
}

.complete::before,
.complete::after {
  position: absolute;
  content: "";
}

.complete::before {
  width: 1em;
  height: 1em;
  background-color: #22CC77;
  border: 1px solid white;
  border-radius: 50%;
  bottom: 0em;
  left: -0.5em;
}

.complete::after {
  height: 0.2em;
  width: 0.4em;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  bottom: 0.45em;
  left: -0.25em;
}


/* Radio Buttons */

.radio-buttons > div, .check-buttons > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

.radio-buttons, .check-buttons {
  margin: 0 -0.4em;
}

.radio-buttons div, .check-buttons div {
  padding: 0.4em 0;
}

.radio-buttons input[type="radio"], .check-buttons input[type="checkbox"] {
  display: none;
}

.radio-buttons label, .check-buttons label {
  background-color: rgba(34,119,204,0.25);
  padding: 0.75em 1em;
  color: #2277CC;
  border: 1px solid #2277CC;
  border-radius: 0.2em;
  margin: 0 0.4em !important;
  display: inline-block;
  cursor: pointer;
}

.radio-buttons label:hover, .check-buttons label:hover {
  background-color: rgba(34,119,204,0.1);
  transition: background 0.5s ease;
}

.radio-buttons input[type="radio"]:checked + label, .check-buttons input[type="checkbox"]:checked + label {
  background-color: #fff;
}

.radio-buttons label:before, .check-buttons label:before {
  width: 1em;
  height: 1em;
  top: 0.15em;
  display: inline-block;
  content: '';
  border: 1px solid #2277CC;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  transition: all 0.5s ease;
  margin-right: 1em;
  left: 0px;
}

.radio-buttons input:checked + label:before {
  background-color: #2277CC;
  border-color: #2277CC;
  -moz-box-shadow: inset 0 0 0 0.25em white;
  -webkit-box-shadow: inset 0 0 0 0.25em white;
  box-shadow: inset 0 0 0 0.25em white;
}

/* Checkbox buttons */

.check-buttons label {
  position: relative;
  padding-left: 3em;
}

.check-buttons label::before,
.check-buttons label::after {
  position: absolute;
  margin: 0.75em 1em;
  content: "";
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.check-buttons label:before {
  border-radius: 0.15em;
  top: 0.2em;
}

/*Checkmark of the fake checkbox*/
.check-buttons label::after {
  height: 0.3em;
  width: 0.6em;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  left: 0.2em;
  top: 0.4em;
}

/*Hide the checkmark by default*/
.check-buttons input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.check-buttons input[type="checkbox"]:checked + label::after {
  content: "";
}

.check-buttons input[type="checkbox"]:checked + label::before {
  background-color: #2277CC;
  transition: all 0.5s ease;
}

/* Check boxes */

.checkboxes input[type="checkbox"] {
  display: none;
}

.checkboxes label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  padding-left: 2em;
}

.checkboxes label::before,
.checkboxes label::after {
  position: absolute;
  content: "";
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkboxes label::before{
  height: 1em;
  width: 1em;
  border-radius: 0.15em;
  border: 1px solid #2277CC;
  left: 0px;
  top: 0.2em;
  transition: all 0.5s ease;
}

/*Checkmark of the fake checkbox*/
.checkboxes label::after {
  height: 0.3em;
  width: 0.6em;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  left: 0.2em;
  top: 0.4em;
}

/*Hide the checkmark by default*/
.checkboxes input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkboxes input[type="checkbox"]:checked + label::after {
  content: "";
}

.checkboxes input[type="checkbox"]:checked + label::before {
  background-color: #2277CC;
  transition: all 0.5s ease;
}

.checkboxes div {
  border-bottom: 1px solid rgba(34, 51, 68, 0.15);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.checkboxes div:first-of-type {
  padding-top: 0;
}

.checkboxes div:last-of-type {
  border-width: 0;
  padding-bottom: 0;
}

/* Input groups WIP */

.input-group {
  display: table;
  margin-top: 0.4em;
}

.input-group-unit {
  display: table-cell;
  vertical-align: middle;
  background: rgba(34, 51, 68, 0.1);
  border-radius: 0em 0.2em 0.2em 0em !important;
  padding: 0em 0.75em;
  border: 1px solid #ccc;
  border-left: 0px;
  height: 2.3em;
}

.input-group-area {
  width:100%;
}
.input-group input {
  display: block;
  width: 100%;
  border-radius: 0.2em 0em 0em 0.2em !important;
}

.input-group-select input {
  border-radius: 0.2em 0 0 0.2em !important;
}

.input-group-select select {
  border-radius: 0 0.2em 0.2em 0 !important;
  border-left: 0px !important;
  height: 2.31em !important;
}

/* Custom select */

.select-css {
	display: block;
	font-size: 1em;
	line-height: 1;
  padding: 0 2em 0 0.75em !important;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0.4em 0 !important;
	border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(34, 51, 68, 0.04);
	border-radius: 0.2em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%232277cc%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, rgba(34, 51, 68, 0.1) 0%, rgba(34, 51, 68, 0.1) 100%);
	background-repeat: no-repeat, repeat;
	background-position: right 0.75em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(34, 119, 204, 0.5);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}
.select-css:disabled:hover, .select-css[aria-disabled=true] {
	border-color: #aaa;
}