/* Content */

html {
    color: #223344;
    font-size: 1em;
    line-height: 1.6em;
}

body, p, div {
    font-family: 'Montserrat', sans-serif !important;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
}

p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

h1 {
    font-size: 1.1em !important;
    padding-bottom: 1.5em;
}

h2, h3 {
    font-size: 1em !important;
    padding-bottom: 0em;
}

a {
    color: rgb(34, 119, 204);
}

hr {
    border: 0;
    border-top: 1px solid rgba(34, 51, 68, 0.15);
}

.content {
    padding: 1em;
    min-height: calc(100vh - 26em);
}

@media only screen and (min-width: 568px) {
    html {
        font-size: 1.125em;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 1.4em;
    }

    h1 {
        margin: 0 !important;
    }
    
    .content {
        padding: 1.5em;
        min-height: calc(100vh - 15em);
    }
}

@media only screen and (min-width:1024px) {
    .content {
        max-width: 1024px;
        margin: 0 auto;
    }
    hr {
        margin-left: calc(-50vw + 512px) !important;
        margin-right: calc(-50vw + 512px) !important;
    }
    .img-sm {
        display: none;
    }
    .img-box {
        padding-left: 2em;
        margin-top: 0em;
    }
}

@media only screen and (max-width:1023px) {
    .img-lg {
        display: none;
    }
}

.img-box {
    padding-top: 1em;
    padding-bottom: 1em;
}

.img-box img {
    border-radius: 2px;
    box-shadow: 0 0 0 2px white;
}

.info-box {
    background: rgba(255, 238, 85, 0.4);
    padding: 1em;
    border-radius: 0.2em;
    font-weight: 400;
    margin: 1.5em 0;
}

.info-box ul {
    padding-left: 1em;
    font-weight: 400;
}

.info-box p {
    margin: 1em 0;
}

.info-box p:first-of-type {
    margin: 0.5em 0;
}

.info-box p:last-of-type {
    margin: 0;
}

.info-box h3 {
    margin: 0;
}

.info-link {
    font-size: 0.8em;
}

.first-img {
    border-radius: 0.2em 0 0 0.2em;
}

.last-img {
    border-radius: 0 0.2em 0.2em 0;
}

.accordion-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
