/* Forms */

label, .error-message {
    font-weight: 700;
}

label {
    margin: 0 0 0.25em;
}

.error-message {
    color: rgb(213, 67, 57);
    font-size: 0.8em;
}
.error-message:first-of-type {
    margin-top: 2em;
}

fieldset {
    padding: 1.5em 0 1.75em !important;
    border-bottom: 1px solid rgba(34, 51, 68, 0.15) !important;
}

.pure-form input:not([type]){
    border: 1px solid rgba(34, 51, 68, 0.15) !important;
}

.pure-form input:not([type]):focus {
    outline: 0;
    border-color: rgb(34, 119, 204) !important;
}

.pure-form {
    margin-top: 2em;
    display: block;
}

/* Password field and errors */

.Password__field {
    background-color: white !important;
    border: 1px solid rgba(34, 51, 68, 0.15) !important;
    border-radius: 0.2em !important;
    font-size: 1em !important;
    padding: 0.5em 0.6em !important;
}

.Password {
    margin: 0 !important;
}

.Password__strength-meter--fill[data-score="1"] {
    background: rgb(213, 67, 57) !important;
}