<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pageIdentifier">
            <h2><span>Page Identifier</span> {{ pageIdentifier.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Identifier</span></dt>
                <dd>
                    <span>{{ pageIdentifier.identifier }}</span>
                </dd>
                <dt><span>Display Name</span></dt>
                <dd>
                    <span>{{ pageIdentifier.display_name }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
        </div>
    </div>
</div>
